.footer {
  text-align: center;
  margin-top: 40px;
}

.navbar-brand {
  padding: 5px;
}

.navbar-brand img {
  height: 40px;
  width: 40px;
}

button.navbar-toggle {
  margin: 5px;
}

.alert {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
}

.alert i {
  margin-right: 15px;
}
