@import 'bootstrap';

body {
  font-family: 'Helvetica Neue', HelveticaNeue, 'Arimo', sans-serif;
}

.footer {
  text-align: center;
  margin-top: 40px;
}

.navbar-brand {
  padding: 5px;
}

.navbar-brand img {
  height: 40px;
  width: 40px;
}

button.navbar-toggle {
  margin: 5px;
}

.lunch-alert {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
}

.lunch-alert i {
  margin-right: 10px;
}

.showme-date{
  text-align: center;
  font-weight: bold;
}

.showme-button {
  text-align: center;
  @media screen and (min-width: $screen-sm-min) {
    margin-top: 150px;
  }
}

.showme {
  align: center;
  text-align: center;
}

.showme img {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  max-height: 500px;
}
