<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars fa-lg"></i>
      </button>
      <a class="navbar-brand" href="#!/translations"><img src="img/hotdog512.png" alt="Lunch Translator Logo" class="img-responsive"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<lunch-tab name="Show Me" url= "#!/showme"></lunch-tab>-->
        <lunch-tab name="Menus" url= "#!/menus"></lunch-tab>
        <lunch-tab name="Translations" url= "#!/translations"></lunch-tab>
        <!--<lunch-tab name="Statistics" url= "#!/statistics"></lunch-tab>-->
      </ul>
  </div><!-- /.container-fluid -->
</nav>
