<div class="row">
  <h2>How Was Lunch Today?</h2>
</div>

<div class="row" ng-show="lunch">
  <div class="text-info bg-info lunch-alert" ng-if="info"><i class="fa fa-info-circle fa-lg"></i>{{ info }}</div>
  <div class="text-danger bg-danger lunch-alert" ng-if="error"><i class="fa fa-warning fa-lg"></i>{{ error }}</div>
</div>

<div class="row kitchen" ng-show="!votingOpen">
  <h2>Voting is open 12pm-4pm!</h2>
</div>

<script type="text/javascript">
// terrible hack this should be a directive
function flash(elem, color) {
  $(elem).css("color", color);
  $(elem).parent().children().attr('disabled', true);
  setTimeout(function() {
    $(elem).css("transition", "3s");
    $(elem).css("color", "black");
  }, 250);
  setTimeout(function() {
    $(elem).parent().children().attr('disabled', false);
    $(elem).css("transition", "0s");
  }, 2750);
}
</script>

<div class="row kitchen" ng-show="votingOpen">
  <table class="table table-striped">
    <tr ng-repeat="dish in lunch.dishes">
      <td class="kitchen-dish" style="width:100%">{{ dish }}</td>
      <td class="kitchen-dish pull-right" style="white-space: nowrap">
        <a class="btn btn-default" role="button" ng-click="vote('{{dish}}',1);" onclick="flash(this, 'green')"><i class="fa fa-thumbs-o-up fa-5x"></i></a>
        <a class="btn btn-default" role="button" ng-click="vote('{{dish}}',-1);" onclick="flash(this, 'red')" style="margin-left: 40px"><i class="fa fa-thumbs-o-down fa-5x"></i></a>
      </td>
    </tr>
  </table>
</div>
