<div class="row"><h2>Show Me<span ng-if="settings.translate"> Real</span> Lunch</h2></div>

<div class="row">
  <div class="text-info bg-info lunch-alert" ng-if="info"><i class="fa fa-info-circle fa-lg"></i>{{ info }}</div>
  <div class="text-danger bg-danger lunch-alert" ng-if="error"><i class="fa fa-warning fa-lg"></i>{{ error }}</div>
</div>

<div class="row">
  <div class="showme-date">
    {{ m.format("dddd MMM Do YYYY") }}
  </div>
</div>

<div class="row" ng-swipe-left="nextDay()" ng-swipe-right="previousDay()">
  <div class="col-xs-12 col-sm-8 col-sm-push-2">
    <div class="showme">
      <p ng-bind-html="lunch.translation"></p>
      <div ng-if="lunch.image">
        <img ng-src="{{ lunch.image }}" ng-click="nextDay()" class="img-responsive"><br/>
      </div>
      <div ng-if="!lunch.image">
        <i class="fa fa-question-circle fa-5x" ng-click="nextDay()"></i>
      </div>
    </div>
  </div>
  <div class="showme-button col-xs-6 col-sm-2 col-sm-pull-8">
    <a class="btn btn-default" role="button" ng-click="previousDay()"><i class="fa fa-chevron-left fa-2x"></i></a>
  </div>
  <div class="showme-button col-xs-6 col-sm-2">
    <a class="btn btn-default" role="button" ng-click="nextDay()"><i class="fa fa-chevron-right fa-2x"></i></a>
  </div>
</div>

<div class="row">
  <div class="showme-settings">
    <lunch-switch field="settings.translate">Translate Lunch</lunch-switch>
    <lunch-switch field="settings.skipWeekends">Skip Weekends</lunch-switch>
    <lunch-switch field="settings.safeSearch">Safe Search</lunch-switch>
  </div>
</div>
